<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Excelfiles</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/output.css') }}>
  </head>
  <body>
    <ul>
      {% for file in files %}
      <li>
         <a href="{{ url_for('log', filename=file) }}">{{ file }}</a>
          <div class="container" align="right">
            <a href="{{ url_for('return_file_tut', filename=file) }}" target="blank"><button class='btn btn-default'>Download!</button></a>
           </div>
      </li>
      {% endfor %}
      <div class="container">
        <a href="{{ url_for('back') }}" target="blank"><button class='btn btn-default'>Return</button></a>
      </div>
  </ul>
  </body>
</html>